Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
# index start from 0, hence, the index of second row is 1.
df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

    Difference between loc() and iloc() functions are:

                loc function                            iloc function
    loc() function is label based data selecting    iloc() function is an indexed-based selecting
    method.                                          method.
    
    In this function we have to pass the            In this function we have to pass an integer 
    name of row or column which we want to          index in the method to select a specific
    select.                                         row/column.

    Includes last element of the range passed       Do not include the last element of the range
    in it.                                          passed in it.

    loc() can accept the boolean data.              iloc() does not accept the boolean data.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [3]:
new_df = df.reindex([3,0,1,2])
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [4]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [5]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

    Yes, there is difference in both the outputs:
    
    In new_df.loc[2] output is:
        course_name Big Data
        duration    6
    As we know that loc() function is label based data selecting method, which means
    it takes the name of row or column which we want to select. Here 2 is name of row
    and row 2 contain course_name Big Data and duration 6.

    In new_df.iloc[2] output is:
        course_name  Machine Learning
        duration     3 
    As we know that iloc() function is indexed based data selecting method, which means
    it takes an integer index to select the specific row/column. Here 2 is index which 
    is bydefault assign to the row, and index 2 contain course_name Machine learning, 
    duration 3.

Consider the below code to answer further questions:

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [7]:
df1.mean()

column_1    0.775108
column_2    0.496983
column_3    0.392111
column_4    0.607703
column_5    0.403541
column_6    0.591757
dtype: float64

In [8]:
df1['column_2'].std()

0.39227508656372484

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
s = ['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr']
df1.loc[:, 'column_2'] = s
df1['column_2'].mean()

# Strings are non-numeric data types that represent text. They are used to store 
# alphanumeric characters, symbols, and other non-numeric data. Because strings 
# do not have a numeric value, it does not make sense to perform mathematical 
# operations on them such as addition, subtraction, division, or finding mean,
# median or other numerical statistics.
# Since Strings cannot perform mean operation, that is why the it getting errors
# in executing it.

TypeError: Could not convert abcdefghijklmnopqr to numeric

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

    Pandas contains a compact set of APIs for performing windowing operations - an operation
    that performs an aggregation over a sliding partition of values. The API functions 
    similarly to the groupby API in that Series and DataFrame call the windowing method with
    necessary parameters and then subsequently call the aggregation function.
    Pandas provide few variants like rolling, expanding and exponentially moving weights
    for window statistics. Among these are sum, mean, median, variance, covariance, correlation,
    etc.

    Types of windows functions are:
    .rolling() Function: Pandas dataframe.rolling() function provides the feature of rolling 
        window calculations. The concept of rolling window calculation is most primarily used 
        in signal processing and time-series data. In very simple words we take a window size 
        of k at a time and perform some desired mathematical operation on it. A window of size 
        k means k consecutive values at a time.

    .expanding() Function: This function can be applied on a series of data. Specify the 
        min_periods=n argument and apply the appropriate statistical function on top of it.
        The Expanding window Operation is the Same as the rolling window except it expands 
        with each iteration. It yields the value of the aggregation statistical function provided.

    .cumsum() Function: Pandas dataframe.cumsum() is used to find the cumulative sum value 
        over any axis. Each cell is populated with the cumulative sum of the values seen so far.
    
    .ewm() Function: The exponential Weighted Mean method is used to calculate EMA(Exponential 
        Moving Average) which takes a decay constant as a parameter.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [10]:
from datetime import date
todays_date = date.today()
df2 = pd.DataFrame({'Curr_date':[todays_date]})
df2['update_date'] = pd.to_datetime(df2['Curr_date'])
df2['update_date'].dt.year

0    2023
Name: update_date, dtype: int64

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [11]:
# first_date = 22/02/2023
# second_date = 24/02/2023

import pandas as pd
import datetime  
first = input("Enter 1st date (in DD/MM/YYYY) ")  
first_date = datetime.datetime.strptime(first,"%d/%m/%Y").date()  
second = input("Enter 2nd date (in DD/MM/YYYY) ")  
second_date = datetime.datetime.strptime(second,"%d/%m/%Y").date()  
dt1 = pd.to_datetime(first_date)
dt2 = pd.to_datetime(second_date)
print(abs(dt1-dt2))

Enter 1st date (in DD/MM/YYYY)  22/02/2023
Enter 2nd date (in DD/MM/YYYY)  24/02/2023

2 days 00:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
csv_loc = input("Enter location of your csv file")
csv_col = input("Enter column name")
csv_cat = input("Enter category name")
cat_df = pd.read_csv(csv_loc)
cat_df[csv_col] = cat_df[csv_col].astype(csv_cat)
df[csv_col].dtype

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
sales_loc = input("Enter location of your sales csv file")
sales_df = pd.read_csv(sales_loc)

# Create a pivot table to group the data by product category and date
pivot_table = df.pivot_table(index='Date', columns='Product Category', values='Sales', aggfunc='sum')

# Create a stacked bar chart to show the sales of each product category over time
pivot_table.plot(kind='bar', stacked=True)

plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [12]:
# Creating a csv file
import csv
stu_data = [
    ['Student ID', 'Test Score'],
    [1,85],
    [2,90],
    [3,80],
    [4,75],
    [5,85],
    [6,82],
    [7,78],
    [8,85],
    [9,90],
    [10,85],
]
with open('stu_data.csv', 'w') as f:
    writer = csv.writer(f)

    for i in stu_data:
        writer.writerow(i)

In [13]:
stu_df = pd.read_csv('stu_data.csv')
stu_df

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [14]:
mean = stu_df['Test Score'].mean()
median = stu_df['Test Score'].median()
mode = stu_df['Test Score'].mode()

table = pd.DataFrame({'Mean':mean, 'Median':median, 'Mode':mode})
table

   Mean  Median  Mode
0  83.5    85.0    85